.VisualizarForm{
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1.2em;
}
.container button{
	margin-left:18%;
}
.myimage{
    margin: auto;
    margin-top: 10%;
    margin-left: 35%;
    display: block;
}